<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="build/phpunit"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnAllIssues="true"
         failOnDeprecation="true"
         failOnEmptyTestSuite="true"
         failOnIncomplete="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitNotice="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="laravel_base_test"/>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="TEST_DATABASE_ALLOWED_HOSTS" value="127.0.0.1"/>
        <env name="TESTBENCH_CONVERT_DEPRECATIONS_TO_EXCEPTIONS" value="true"/>
    </php>
</phpunit>
